.button{
    color: white;
    background-color: $blue;
    display: inline-block;
    padding: $s-size;
    border: none;
    font-weight: 300;
    line-height: 1;
    font-size: $font-size-large;
    border-radius: 3px;
    text-decoration: none;
}

.button--link{
    background: none;
    
}

.button--secondary{
    background-color: #888888;
}